{% comment %}ly_liquid_scripts_begin{% endcomment %}
{%- capture ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}{% assign current_template = template | split: '.' | first %}
<nav class="breadcrumbs ff-body fs-body-75" role="navigation" aria-label="breadcrumbs">
  {% if show_breadcrumbs %}
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="{{ routes.root_url }}">{{ 'general.navigation.home' | t }}</a>
        <div class="breadcrumbs__icon">{% render 'icon' with icon: 'chevron-small' %}</div>
      </li>
      {% case current_template %}
        {% when 'product' %}
          {% if collection.url %}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
              <div class="breadcrumbs__icon">{% render 'icon' with icon: 'chevron-small' %}</div>
            </li>
          {% endif %}
        {% comment %}
          {% if template.suffix contains 'pre-order' %}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ routes.all_products_collection_url }}/kids"><ly-as-1386100>Store</ly-as-1386100></a>
              <div class="breadcrumbs__icon">{% render 'icon' with icon: 'chevron-small' %}</div>
            </li>
          {% else %}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ routes.all_products_collection_url }}/adults"><ly-as-1386100>Store</ly-as-1386100></a>
              <div class="breadcrumbs__icon">{% render 'icon' with icon: 'chevron-small' %}</div>
            </li>
          {% endif %}
        {% endcomment %}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__current" aria-current="page">{{ product.title }}</span>
          </li>
        {% when 'collection' and collection.handle %}
          {% if current_tags %}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ collection.url }}">{{ collection.title }}</a>
              <div class="breadcrumbs__icon">{% render 'icon' with icon: 'chevron-small' %}</div>
            </li>
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__current" aria-current="page">{{ current_tags | join: ' + ' }}</span>
            </li>
          {% else %}
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__current" aria-current="page">{{ collection.title }}</span>
            </li>
          {% endif %}
        {% when 'page' %}
          {% if page.url contains 'contact' or page.url contains 'reviews' or page.url contains 'faq' %}
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__link" aria-current="page"><ly-as-1386101>Explore</ly-as-1386101></span>
              <div class="breadcrumbs__icon">{% render 'icon' with icon: 'chevron-small' %}</div>
            </li>
          {% endif %}
          {% if page.url %}
            <li class="breadcrumbs__item">
              <span class="breadcrumbs__current" aria-current="page">
                {% if page.url contains 'team' %}#{% endif %}
                {{ page.title }}
              </span>
              <!-- <div class="breadcrumbs__icon">{% render 'icon' with icon: 'chevron-small' %}</div> -->
            </li>
          {% endif %}
        {% when 'blog' %}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link" aria-current="page"><ly-as-1386101>Explore</ly-as-1386101></span>
            <div class="breadcrumbs__icon">{% render 'icon' with icon: 'chevron-small' %}</div>
          </li>

          <li class="breadcrumbs__item">
            <span class="breadcrumbs__current" aria-current="page">
              {{ blog.title }}
            </span>
          </li>
        {% when 'article' %}
          <li class="breadcrumbs__item">
            <span class="breadcrumbs__link" aria-current="page"><ly-as-1386101>Explore</ly-as-1386101></span>
            <div class="breadcrumbs__icon">{% render 'icon' with icon: 'chevron-small' %}</div>
          </li>

          <li class="breadcrumbs__item">
            <span class="breadcrumbs__current" aria-current="page">
              {{ blog.title }}
            </span>
          </li>
      {% endcase %}
    </ol>
  {% endif %}

  {% if show_navigation_buttons %}
    <ol class="navigation-buttons__list">
      {% if collection.previous_product %}
        <li class="navigation-buttons__item">
          {{ 'general.navigation.previous' | t | link_to: collection.previous_product }}
        </li>
      {% endif %}
      {% if collection.next_product %}
        <li class="navigation-buttons__item">
          {{ 'general.navigation.next' | t | link_to: collection.next_product }}
        </li>
      {% endif %}
    </ol>
  {% endif %}
</nav>
{% comment %}ly_liquid_scripts_begin{% endcomment %}{% endcapture -%}
{% comment %}langify static translation code Version 1.0{% endcomment %}
{%- if request.locale.primary == true %}
  {% assign strings = ly_liquid_content | strip_newlines | split: '<ly-' %}
  {% for each_string in strings %}
    {% if each_string contains '</ly' %}
      {% assign ly_string = each_string | split: '</ly' | first %}
      {% assign ly_tag = ly_string | split: '>' | first %}
      {% assign ly_open_tag = '' %}
      {% assign ly_close_tag = '' %}
      {% assign delim = ly_tag | append: '>' %}
      {% assign ly_content = ly_string | split: delim | last %}
      {% assign src = ly_open_tag | append: ly_content | append: ly_close_tag %}
      {% assign ly_liquid_content = ly_liquid_content | replace: src, ly_content %}
    {% endif %}
  {% endfor %}
  {{ ly_liquid_content -}}
{%- else %}
  {% assign current_language_num = 0 %}
  {% for language in shop.metafields.language_codes %}
    {% if language.last == request.locale.iso_code %}
      {% assign language_id_num = language.first | replace: 'ly', '' | plus: 0 %}
      {% if current_language_num < language_id_num %}
        {% assign current_language = language.first %}
        {% assign current_language_num = language_id_num %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {% assign language = current_language %}
  {% assign strings = ly_liquid_content | strip_newlines | split: '<ly-' %}
  {% for each_string in strings %}
    {% if each_string contains '</ly' %}
      {% assign ly_string = each_string | split: '</ly' | first %}
      {% assign ly_tag = ly_string | split: '>' | first %}
      {% assign ly_open_tag = '' %}
      {% assign ly_close_tag = '' %}
      {% assign delim = ly_tag | append: '>' %}
      {% assign ly_content = ly_string | split: delim | last %}
      {% assign tag_parts = ly_tag | split: '-' %}
      {% assign type = tag_parts | first %}
      {% assign id = tag_parts | last %}
      {% assign src = ly_open_tag | append: ly_content | append: ly_close_tag %}
      {% assign used_translation = null %}
      {% assign namespace = language | append: 'as' %}
      {% assign key = 'tid' | append: theme.id %}
      {% if shop.metafields[namespace][key] %}
        {% assign data = shop.metafields[namespace][key] %}
        {% assign splitter = '[ly' | append: id | append: ']' %}
        {% if data contains splitter %}
          {% assign used_translation = data | split: splitter | last | split: '[ly]' | first %}
        {% endif %}
      {% endif %}
      {% if used_translation %}
        {% assign ly_liquid_content = ly_liquid_content | replace: src, used_translation %}
      {% else %}
        {% assign namespace = language | append: type %}
        {% assign key = 'id' | append: id %}
        {% if shop.metafields[namespace][key] %}
          {% assign ly_liquid_content = ly_liquid_content | replace: src, shop.metafields[namespace][key] %}
        {% else %}
          {% assign ly_liquid_content = ly_liquid_content | replace: src, ly_content %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}
  {{ ly_liquid_content -}}
{%- endif -%}
{% comment %}ly_liquid_scripts_end{% endcomment %}
