{%- liquid
  assign product_limit = settings.cross_sells_max_products
  assign product_count = 0
  assign cart_item_ids = cart.items | map: 'product_id'

  if settings.cross_sells_recommendations_type == 'collection'
    assign product_pool = settings.collection.products
  elsif settings.cross_sells_recommendations_type == 'product-list'
    assign product_pool = settings.product_list
  endif

  assign product_will_show = false

  for item in product_pool
    if cart_item_ids contains item.id
      continue
    elsif item.available == false
      continue
    else
      assign product_will_show = true
      break
    endif
  endfor
-%}

{%- if product_will_show -%}
<div class="cross-sells" data-cross-sells>
  <div class="cross-sells__heading ff-heading fs-heading-6-base">{{ settings.cross_sells_heading }}</div>
  <div class="cross-sells__items {% if is_slider %}swiper{% endif %}" data-cross-sells-slider="{{ is_slider }}">
    {% if is_slider %}<div class="cross-sells__slider-inner swiper-wrapper">{% endif %}
    {%- for item in product_pool -%}
      {%- if product_count >= product_limit -%}
        {%- break -%}
      {%- elsif cart_item_ids contains item.id -%}
        {%- continue -%}
      {%- elsif item.available == false -%}
        {%- continue -%}
      {%- endif -%}
      {%- assign product_count = product_count | plus: 1 -%}
      <div class="cross-sells__item {% if is_slider %}swiper-slide{% endif %}">
        {%- if settings.cross_sells_show_thumbnails -%}
          <div class="cross-sells__item-image">
            <a href="{{ item.url }}" class="cross-sells__item-link">
              {%- render 'image',
                image: item.featured_image,
                sizes: '64px',
                prioritize_loading: true,
                aspect_ratio: settings.cart_item_aspect_ratio,
                include_placeholder: true
              -%}
            </a>
          </div>
        {%- endif -%}
        <div class="cross-sells__item-content">
          <div class="cross-sells__item-details ff-body fs-body-75">
            <h4 class="cross-sells__item-title fs-body-75">
              <a href="{{ item.url }}">{{ item.title }}</a>
            </h4>
            <div class="cross-sells__item-price-wrapper">
              {% if item.compare_at_price > item.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s class="t-subdued">
                  {{- item.compare_at_price | money -}}
                  {%- if section.settings.show_product_currency %} {{ cart.currency.iso_code }}{% endif -%}
                </s>

                {% if item.price_varies %}
                  {%- assign sale_price = item.price | money -%}
                  
                  <div class="sale">
                    {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
                    {%- if section.settings.show_product_currency %} {{ cart.currency.iso_code }}{% endif -%}
                  </div>
                {% else %}
                  <div class="sale">
                    {{ item.price | money -}}
                    {%- if section.settings.show_product_currency %} {{ cart.currency.iso_code }}{% endif %}
                  </div>
                {% endif %}
              {% else %}
                {% if item.price_varies %}
                  {%- assign price = item.price | money -%}
                  {{ 'products.product.from_lowest_price_html' | t: lowest_price: price }}
                  {%- if section.settings.show_product_currency %} {{ cart.currency.iso_code }}{% endif -%}
                {% else %}
                  <span class="cross-sells__item-price">
                    {{- item.price | money -}}
                    {%- if section.settings.show_product_currency %} {{ cart.currency.iso_code }}{% endif -%}
                  </span>
                {% endif %}
              {% endif %}
            </div>
          </div>
          <div class="cross-sells__item-button">
            <button
              type="button"
              class="cross-sells__item-add btn btn--tertiary btn--x-small"
              data-product-url="{{ item.url }}"
              {%- if item.has_only_default_variant -%}
                data-add-item-id="{{ item.variants[0].id }}"
              {%- else -%}
                data-quick-view-trigger
              {%- endif -%}
            >
              {%- unless section.id == "quick-cart" -%}
                <span class="cross-sells__text-add-to-cart">{{ 'product.add_to_cart' | t }}</span>
              {%- endunless -%}
              <span class="cross-sells__text-add">{{ 'cart.general.add' | t }}</span>
              <div class="btn__loading-wrap">
                <div class="btn__loading-bar"></div>
              </div>
            </button>
          </div>
        </div>
      </div>
    {%- endfor -%}
    {% if is_slider %}
      </div>
      <button
        type="button"
        class="slider-nav-button slider-nav-button-prev"
        title="{{ 'general.accessibility.previous' | t }}"
        data-prev
      >
        {% render 'icon' with icon: 'chevron' %}
      </button>
      <button
        type="button"
        class="slider-nav-button slider-nav-button-next"
        title="{{ 'general.accessibility.next' | t }}"
        data-next
      >
        {% render 'icon' with icon: 'chevron' %}
      </button>
    {% endif %}
  </div>
</div>
{%- endif -%}