{% comment %}
  Required params:
    - wrapper_class
    - block
    - button_alignment

  Optional params:
    - button_alignment_mobile
{% endcomment %}

{%- liquid
  assign video_source = block.settings.video_source
  assign shopify_video = block.settings.video
  assign external_video = block.settings.video_url
  assign poster_image = block.settings.image
  assign poster_aspect = block.settings.aspect_ratio
  assign has_video = false

  assign is_shopify_video = false
  assign is_external_video = false

  if video_source == 'shopify' and shopify_video != blank
    assign has_video = true
    assign is_shopify_video = true
    assign poster_image = shopify_video.preview_image
  elsif video_source == 'external' and external_video != blank
    assign has_video = true
    assign is_external_video = true
  endif

  if button_alignment_mobile == null
    assign button_alignment_mobile = button_alignment
  endif

  assign label = block.settings.text
  assign icon_style = block.settings.icon_style
-%}
<div
  class="
    play-button-block
    button-block--justify-{{ button_alignment }}
    button-block--justify-mobile-{{ button_alignment_mobile }}
    {% if poster_image != blank %}
      play-button-block--has-poster
    {% endif %}
    {% if label != blank %}
      play-button-block--has-label
    {% endif %}
    play-button-block--icon-style-{{ icon_style }}
    ff-body
    fs-body-75
    {{ wrapper_class }}
  "
  {{ block.shopify_attributes }}
>
  <button
    class="play-button-block__inner"
    type="button"
    data-play-button-block
    {% if label == blank %}
      aria-label="{{ 'general.accessibility.play_video' | t }}"
    {% endif %}
    {% if has_video == false %}
      data-flash-trigger data-flash-message="{{ 'general.flash_alert.no_video' | t }}"
    {% endif %}
  >
    <div class="play-button-block-left">
      {% if poster_image != blank %}
        {%- render 'image',
          image: poster_image,
          sizes: '100px',
          focal_point: 'image_presentation',
          aspect_ratio: poster_aspect
        -%}
      {% endif %}
      {% render 'icon' with icon: 'play-arrow' %}
    </div>

    {%- if label != blank -%}
      <div class="play-button-block-right">
        {{ label }}
      </div>
    {%- endif -%}

    {%- if has_video -%}
      <div
        class="play-button-block-video-container"
        data-play-button-block-video-container
        data-video-type="{{ video_source }}"
      >
        {%- if is_shopify_video -%}
          {%- liquid
            assign video_html = shopify_video | video_tag: class: 'play-button-block-video', data-play-button-block-video: '', autoplay: true, controls: true
          -%}
          {{ video_html }}
        {%- elsif is_external_video %}
          {% liquid
            assign video_class = 'play-button-block-video'

            unless external_video.type == 'youtube'
              assign video_class = video_class | append: ' video__iframe'
            endunless
          %}
          <div
            class="{{ video_class }}"
            data-play-button-block-video
            data-video-provider="{{ external_video.type }}"
            data-video-id="{{ external_video.id | escape }}"
          ></div>
        {%- endif -%}
      </div>
    {%- endif -%}
  </button>
</div>
