{%- liquid
  comment
    pass in :

    * prod (product but avoiding collision with globally scoped product)
  endcomment

  assign show_multiple_images = false
  if settings.product_listing_show_second_image_on_hover and prod.media.size > 1
    assign show_multiple_images = true
  endif

  assign current_variant = prod.selected_or_first_available_variant

  assign mobile_column_count = 2
  if product_columns_mobile == 1
    assign mobile_column_count = 1
  endif

  case product_columns_desktop
    when '5'
      assign sizes = '(max-width: 720px) calc((90vw - 12px) /[[mcc]]), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 5), 270px' | replace: '[[mcc]]', mobile_column_count
    when '3'
      assign sizes = '(max-width: 720px) calc((90vw - 12px) /[[mcc]]), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 3), 450px' | replace: '[[mcc]]', mobile_column_count
    when '2'
      assign sizes = '(max-width: 720px) calc((90vw - 12px) /[[mcc]]), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 2), 690px' | replace: '[[mcc]]', mobile_column_count
    else
      # Using a 4 item grid as default for sizes
      assign sizes = '(max-width: 720px) calc((90vw - 12px) /[[mcc]]), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 4), 304px' | replace: '[[mcc]]', mobile_column_count
  endcase

  assign has_hover_swatches = false
  assign has_hover_chips = false
  assign show_sibling_swatches = false
  assign sibling_products = prod.metafields.stiletto.sibling_collection.value.products | default: prod.metafields.stiletto.siblings_collection.value.products

  # Sibling swatches will override other swatches if these conditions are met
  if settings.enable_product_card_sibling_swatches and settings.siblings_option_name != blank and sibling_products.size > 0
    assign has_hover_swatches = true
    assign show_sibling_swatches = true
    assign first_swatchified_option = settings.siblings_option_name | downcase
    assign displayed_swatch_count = sibling_products.size

  elsif settings.enable_product_card_swatches
    capture first_swatchified_option
      render 'get-first-styled-option', prod: prod, styled_options: settings.swatch_options
    endcapture

    assign displayed_swatch_count = prod.options_by_name[first_swatchified_option].values.size

    if displayed_swatch_count > 0
      assign has_hover_swatches = true
    endif
  endif

  if settings.show_product_card_chips
    capture first_chipped_option
      render 'get-first-styled-option', prod: prod, styled_options: settings.product_card_chip_options
    endcapture

    assign displayed_chip_count = prod.options_by_name[first_chipped_option].values.size

    if displayed_chip_count > 0
      assign has_hover_chips = true
    endif
  endif

  if quick_view_is_beneath
    assign has_hover_swatches = false
    assign has_hover_chips = false
  endif

  if prod.has_only_default_variant
    assign product_has_variants = false
  else
    assign product_has_variants = true
  endif

  # Quick add takes precedence over quick view
  # Use quick view for products with variants and sold out products
  if settings.enable_quick_add and prod.available
    if product_has_variants
      assign quick_shop_type = 'quick-view'
      assign quick_shop_button_text = 'products.product.choose_options' | t
    else
      assign quick_shop_type = 'quick-add'
      assign quick_shop_button_text = 'products.product.add_to_cart' | t
    endif

    capture quick_shop_button_hoverless_icon
      render 'icon', icon: 'quick-add'
    endcapture

  elsif settings.enable_quick_view
    assign quick_shop_type = 'quick-view'
    assign quick_shop_button_text = 'products.product.quick_view' | t

    capture quick_shop_button_hoverless_icon
      render 'icon', icon: 'quick-view'
    endcapture
  else
    assign quick_shop_type = 'none'
  endif
-%}

{% if quick_shop_type != 'none' %}
  {% capture quick_shop_button_attributes %}
      data-quick-shop-trigger="{{ quick_shop_type }}"

      {% if quick_shop_type == 'quick-add' %}
        data-product-id="{{ prod.variants[0].id }}"
      {% else %}
        data-product-url="{{ prod.url }}"
      {% endif %}
  {% endcapture %}

  {% capture quick_shop_button %}
    <button
      class="btn btn--tertiary btn--x-small"
      {{ quick_shop_button_attributes }}
      tabindex="0"
    >
      <span>{{ quick_shop_button_text }}</span>

      <div class="btn__loading-wrap">
        <div class="btn__loading-bar"></div>
      </div>
    </button>
  {% endcapture %}

  {% capture quick_shop_button_hoverless %}
    <button
      class="product-item__hoverless-quick-view-button btn btn--rounded"
      {{ quick_shop_button_attributes }}
      tabindex="0"
      title="{{ quick_shop_button_text }}">
      <span>Buy Now</span>
    </button>
  {% endcapture %}
{% endif %}

{% liquid
  # wrap add-to-cart buttons in a product form for no-js or if purchase confirmation and quick cart are disabled
  if quick_shop_type == 'quick-add'
    capture product_form_tags
      echo '<input class="product-item__product-form-variant-input" name="id" type="hidden" value="[[vi]]">' | replace: '[[vi]]', prod.variants[0].id
    endcapture

    capture quick_shop_button
      form 'product', prod, class: 'product-item__product-form'
        echo product_form_tags
        echo quick_shop_button
      endform
    endcapture

    capture quick_shop_button_hoverless
      form 'product', prod, class: 'product-item__product-form'
        echo product_form_tags
        echo quick_shop_button_hoverless
      endform
    endcapture
  endif
%}

<div
  class="
    product-item
    {% if has_hover_swatches -%} product-item--with-hover-swatches {%- endif %}
    {% if has_hover_chips -%} product-item--with-hover-chips {%- endif %}
    {% if settings.enable_border_on_hover -%} product-item--border-on-hover {%- endif %}
    animation
    animation--item
    {% if has_grid_reveal -%} animation--item-initial {%- endif %}
  "
  style="--z-index-item: {{ forloop.index }};"
  data-tags="{{ prod.tags | join: ', ' }}"
>
  <div class="product-item__inner">
   

    <div class="product-item__media {%- if show_multiple_images %} product-item__media--multiple-images {%- endif %}">
      <a class="product-item__image-link" href="{{ prod.url }}" aria-label="{{ prod.title }}">
        {%- liquid
          assign image_wrapper_class = 'product-item__image'

          if show_multiple_images
            assign image_wrapper_class = image_wrapper_class | append: ' product-item__image--one'
            assign second_image = prod.media[1].preview_image

            if prod.featured_media != prod.media[0]
              assign second_image = prod.media[0].preview_image
            endif
          endif
        -%}

        {% render 'image',
          image: prod.featured_media,
          wrapper_class: image_wrapper_class,
          aspect_ratio: settings.product_listing_aspect_ratio,
          object_fit: settings.product_listing_media_fit,
          include_placeholder: true,
          sizes: sizes,
          src_set_type: 'grid'
        %}

        {%- if show_multiple_images -%}
          {% render 'image',
            image: second_image,
            wrapper_class: 'product-item__image product-item__image--two',
            aspect_ratio: settings.product_listing_aspect_ratio,
            object_fit: settings.product_listing_media_fit,
            include_placeholder: true,
            sizes: sizes,
            no_lazy_load: true,
            src_set_type: 'grid'
          %}
        {%- endif -%}
      </a>
      {% unless placeholder %}
        {%- render 'product-badges',
          prod: prod,
          show_sale_badge: settings.product_listing_show_sale_badge,
          show_custom_badges: settings.product_listing_show_custom_badges,
          show_sold_out_badge: settings.product_listing_show_sold_out_badge
        -%}
      {% endunless %}
    </div>







    
<div class="cardinformation">

      {% if settings.product_listing_show_rating %}
        {% render 'product-rating', prod: prod %}
      {% endif %}




    
     <div class="product-item__meta" style="margin-top:-15px;">
      <div class="product-item__text" style="text-align:left;">
        <h4 class="ff-body product-item__product-title fs-product-card-title" style="text-align:left !important; letter-spacing:0px; font-weight:500 !important"">
          {%- if placeholder -%}
            {{ 'homepage.onboarding.product_title' | t }}
          {%- else -%}
            <a href="{{ prod.url }}">{{ prod.title }}</a>
          {%- endif -%}
        </h4>
      </div>
    </div>

<div class="additionnalinfo" style="margin-top:-8px; margin-bottom:6px;"><p style="color:grey; font-size:10px">{{ prod.metafields.custom.additionnal_info }}</p></div>










    


    
    <div class="product-item__meta">
      {%- if has_hover_swatches or has_hover_chips -%}
        <div class="product-item__variant-info">
          {%- if has_hover_swatches -%}
            {%- render 'product-item-swatches',
              prod: prod,
              option_name: first_swatchified_option,
              show_sibling_swatches: show_sibling_swatches,
              sibling_products: sibling_products
            -%}
          {%- endif -%}

          {%- if has_hover_chips -%}
            {%- render 'product-item-chips', prod: prod, option_name: first_chipped_option -%}
          {%- endif -%}
        </div>
      {%- endif -%}

      {%- if quick_shop_type != 'none' and quick_view_is_beneath -%}
        {{ quick_shop_button }}
      {%- endif -%}

      {% if settings.product_listing_show_vendor and prod.vendor %}
        <h5 class="ff-body fs-body-60 product-item__product-vendor">
          {{ prod.vendor }}
        </h5>
      {% endif %}

  
      {% liquid
  assign price_content_type = 'price'

  if prod.available
    if prod.price == 0 and prod.price_varies == false
      if settings.zero_dollar_listing_price_display == 'replace'
        assign price_content_type = 'custom'
        assign custom_price_content = 'products.inventory.zero_price_custom_label' | t
      elsif settings.zero_dollar_listing_price_display == 'hide'
        assign price_content_type = 'hide'
        assign custom_price_content = blank
      endif
    endif
  else
    if settings.sold_out_listing_price_display == 'hide'
      assign price_content_type = 'hide'
      assign custom_price_content = blank
    elsif settings.sold_out_listing_price_display == 'replace'
      assign price_content_type = 'custom'
      assign custom_price_content = 'products.inventory.sold_out_price_custom_label' | t
    endif
  endif
%}




      
{% if price_content_type == 'price' %}
  <p class="product-item__price" style="text-align:left;">
    {% if prod.compare_at_price > prod.price %}
      <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
      <s class="t-subdued">{{ prod.compare_at_price | money }}</s> <!-- Compare at price -->
      <span class="sale">{{ prod.price | money }}</span> <!-- Main price (sale price) -->
    {% else %}
      <span class="product-item__price" style="font-weight:bold !important;">{{ prod.price | money }}</span> <!-- Main price (no compare at price) -->
    {% endif %}
  </p>
{% elsif price_content_type == 'custom' %}
  {% if custom_price_content != blank %}
    <p class="product-item__price">{{ custom_price_content }}</p>
  {% endif %}
{% endif %}


  










{% assign size_option = 'Size' %}
{% assign size_values = '' | split: ',' %}

{% for option in prod.options_with_values %}
  {% if option.name == size_option %}
    {% assign size_values = option.values %}
  {% endif %}
{% endfor %}

{% assign size_option_index = -1 %}
{% for i in (0..prod.options_with_values.size) %}
  {% if prod.options_with_values[i].name == size_option %}
    {% assign size_option_index = i %}
  {% endif %}
{% endfor %}

{% if size_values.size > 0 and size_option_index != -1 %}

  {%- comment -%}
    Check if this product uses "EU xx - US yy" format (shoes)
    or simple sizes like "S, M, L" (clothing)
  {%- endcomment -%}
  {% assign uses_eu_us_format = false %}
  {% for size in size_values %}
    {% if size contains 'EU' and size contains 'US' %}
      {% assign uses_eu_us_format = true %}
    {% endif %}
  {% endfor %}

  {% if uses_eu_us_format %}
    {%- comment -%}
      SHOES, keep EU / US behaviour
    {%- endcomment -%}
    {% assign eu_sizes = '' %}
    {% assign us_sizes = '' %}

    {% for size in size_values %}
      {% assign parts = size | split: ' - ' %}
      {% assign eu_part = parts[0] | strip %}
      {% assign us_part = parts[1] | strip %}

      {% assign eu_number = eu_part | remove: 'EU' | strip %}
      {% assign us_number = us_part | remove: 'US' | strip %}

      {% assign eu_sizes = eu_sizes | append: eu_number | append: ',' %}
      {% assign us_sizes = us_sizes | append: us_number | append: ',' %}
    {% endfor %}

    {% assign eu_sizes_array = eu_sizes | split: ',' %}
    {% assign us_sizes_array = us_sizes | split: ',' %}

    <div class="product-item__sizes product-size-selector" style="display: flex; align-items: center; gap: 12px; flex-wrap: wrap;">

      <div class="sizes-container" style="flex: 1;">
        <div data-size-type="EU" class="sizes-list" style="display: flex; flex-wrap: wrap; gap: 6px;">
          {% for eu in eu_sizes_array %}
            {% if eu != '' %}
              {% assign is_in_stock = false %}
              {% for variant in prod.variants %}
                {% assign variant_size = variant.options[size_option_index] %}
                {% if variant_size contains 'EU' and variant_size contains eu %}
                  {% if variant.available %}
                    {% assign is_in_stock = true %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              <span class="product-item__size-bubble {% unless is_in_stock %}outofstock{% endunless %}">
                {{ eu }}
              </span>
            {% endif %}
          {% endfor %}
        </div>

        <div data-size-type="US" class="sizes-list" style="display:none; flex-wrap: wrap; gap: 6px;">
          {% for us in us_sizes_array %}
            {% if us != '' %}
              {% assign is_in_stock = false %}
              {% for variant in prod.variants %}
                {% assign variant_size = variant.options[size_option_index] %}
                {% if variant_size contains 'US' and variant_size contains us %}
                  {% if variant.available %}
                    {% assign is_in_stock = true %}
                  {% endif %}
                {% endif %}
              {% endfor %}
              <span class="product-item__size-bubble {% unless is_in_stock %}outofstock{% endunless %}">
                {{ us }}
              </span>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <select class="size-select" aria-label="Choisir la taille">
        <option value="EU" selected>EU</option>
        <option value="US">US</option>
      </select>

    </div>

  {% else %}
    {%- comment -%}
      CLOTHING and any product where sizes are simple strings
      like "XS, S, M, L". Only check variant.available.
    {%- endcomment -%}

    <div class="product-item__sizes" style="display: flex; align-items: center; gap: 12px; flex-wrap: wrap;">
      <div class="sizes-container" style="flex: 1;">
        <div class="sizes-list" style="display:flex; flex-wrap:wrap; gap:6px;">
          {% for size in size_values %}
            {% assign is_in_stock = false %}
            {% for variant in prod.variants %}
              {% if variant.options[size_option_index] == size and variant.available %}
                {% assign is_in_stock = true %}
              {% endif %}
            {% endfor %}
            <span class="product-item__size-bubble {% unless is_in_stock %}outofstock{% endunless %}">
              {{ size }}
            </span>
          {% endfor %}
        </div>
      </div>
    </div>

  {% endif %}
{% endif %}




    
<style>

  .product-item__sizes{
    margin-top:20px;
  }

  
  /* Dropdown ultra compact */
  .size-select {
    width: 40px;
    height: 20px;
    font-size: 12px;
    padding: 0;
    margin: 0;
    border:none;
    border-radius: 4px;
    background: white;
box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align-last: center; /* centre le texte */
  }

  .size-select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }

  /* Petites bulles minimalistes */
  .product-item__size-bubble {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    height: 24px;
    padding: 0 8px;
    font-size: 0.75rem;
    border-radius: 50px;
    border: none;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: white;
    color: #222;
    user-select: none;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    cursor: default;
  }



  /* Out of stock style */
  .outofstock {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;
  }




  
  @media (max-width: 480px) {
    .product-item__size-bubble {
      min-width: 20px;
      height: 20px;
      font-size: 0.7rem;
      padding: 0 6px;
    }

    .size-select {
      width: 18px;
      height: 18px;
      font-size: 11px;
    }
  }
</style>




    

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.product-size-selector').forEach(function(container) {
      var select = container.querySelector('.size-select');
      var euDiv = container.querySelector('[data-size-type="EU"]');
      var usDiv = container.querySelector('[data-size-type="US"]');

      select.addEventListener('change', function() {
        if (select.value === 'EU') {
          euDiv.style.display = 'flex';
          usDiv.style.display = 'none';
        } else {
          euDiv.style.display = 'none';
          usDiv.style.display = 'flex';
        }
      });
    });
  });
</script>




      
      
      {% if has_hover_swatches or has_hover_chips %}
        {% liquid
          assign option_string = blank

          if has_hover_swatches
            assign swatch_string = 'products.product.swatch_count' | t: count: displayed_swatch_count, swatch_name: first_swatchified_option
            assign option_string = option_string | append: swatch_string
          endif

          if has_hover_swatches and has_hover_chips
            assign delimiter_string = 'products.product.swatch_and_chip_delimiter' | t
            assign option_string = option_string | append: delimiter_string
          endif

          if has_hover_chips
            assign chip_string = 'products.product.chip_count' | t: count: displayed_chip_count, chip_name: first_chipped_option
            assign option_string = option_string | append: chip_string
          endif
        %}
        <h5 class="ff-body fs-body-50 product-item__swatch-count">
          {{ option_string }}
        </h5>
      {% endif %}

      {% if quick_shop_type != 'none' %}
        {{ quick_shop_button_hoverless }}
      {% endif %}
    </div>
    <div class="product-item__hover-container"></div>



</div>



<style>
  .product-item__inner {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    border-radius:8px;
}

  .product-item__inner:hover{
    transform: translateY(-3px);
    transition:transform 0.4s ease;
}

  
  .cardinformation {
    padding: 0px 20px 20px 20px;
}

  .product-item__inner img {
    border-radius: 8px 8px 0px 0px;
}
</style>

    
  </div>
</div>
