<div
  class="product__block product__block--product-header{% if block_settings.show_divider %} product__block--with-divider{% endif %}"
  {% if block %}
    {{- block.shopify_attributes -}}
  {% endif %}
>
  {%- if is_quick -%}
    <div class="product__block--product-header-image-wrap">
      <div class="product__media">
        {%- for media in product.media -%}
          <div
            class="product__media-item {% unless media.id == featured_media.id %} hidden{% endunless %}"
            data-media-item-id="{{ media.id }}"
            data-product-media-wrapper
          >
            {%
              render 'media' with
              media: media,
              fallback_alt: product.title,
              enable_product_lightbox: section.settings.enable_product_lightbox,
              loop_video: section.settings.enable_video_looping,
              aspect_ratio: section.settings.image_aspect_ratio,
              sizes: "122px",
              within_carousel: false
            %}
          </div>
        {%- else -%}
          <div class="product__media-item placeholder-image">
            {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endif -%}

  <div class="product__block--product-header-inner desktop__details">
    {% liquid
      capture product_title_tag_type
        if is_quick or is_featured
          echo 'h2'
        else
          echo 'h1'
        endif
      endcapture
    %}
    {%- if product != blank -%}
      {%- if block_settings.show_sale_badge or block_settings.show_custom_badges -%}
        {%-
          render 'product-badges' with
          prod: product,
          show_sale_badge: block_settings.show_sale_badge,
          show_custom_badges: block_settings.show_custom_badges,
          show_sold_out_badge: false
        -%}
      {%- endif -%}
      <div class="title-wrapper-product">
        <{{ product_title_tag_type }} class="product__title ff-heading fs-heading-4-base fs-heading-3-base-ns">
          {{- product.title -}}
        </{{ product_title_tag_type }}>
      </div>
      {% if block_settings.show_product_rating == true %}
        <div class="review-badge-wrapper">
          <div class="review-counts">
            <span class="review-stars">
              {% render 'product-rating', prod: product %}
            </span>
            {% comment %}
              {% if product.metafields.custom.sold_count.value != blank %}
                <span class="dot"></span>
                <span class="sold-count">{{ product.metafields.custom.sold_count.value }}</span>
              {% endif %}
            {% endcomment %}
          </div>
          {% comment %} <div class="inventory-status">
            <span class="inventory-label {% if current_variant.available %} in-stock {% else %} out-of-stock {% endif %}">
              {%- if current_variant.available -%}
                {{- section.settings.in_stock_label -}}
              {%- else -%}
                {{- section.settings.out_stock_label -}}
              {%- endif -%}
            </span>
          </div> {% endcomment %}
        </div>
      {% endif %}
      <div
        class="product__price-and-ratings"
        data-show-product-rating="{{ block_settings.show_product_rating }}"
      >

        
        <div class="product__price">
            <div class="product__price">
              
                      <!-- File typically in /sections/ directory-->
<!-- SparkLayer product detail page script-->
<spark-pdp parent-id="{{ product.id }}"></spark-pdp>
<!-- Hide any element by adding data-spark="b2c-only" to it, e.g. -->
<div data-spark="b2c-only">
    <!-- This would hide anything inside-->
</div>


<!-- File typically in /sections/ directory-->
<!-- SparkLayer product detail page script-->
<spark-pdp mode-all-variants parent-id="{{ product.id }}"></spark-pdp>
<!-- Hide any element by adding data-spark="b2c-only" to it, e.g. -->
<div data-spark="b2c-only">
    <!-- This would hide anything inside-->
</div>




<!-- File typically in /sections/ directory-->
<!-- SparkLayer product matrix script-->
<spark-product-matrix parent-id="{{ product.id }}"></spark-product-matrix>
<!-- Hide any element by adding data-spark="b2c-only" to it, e.g. -->
<div data-spark="b2c-only">
    <!-- This would hide anything inside-->
</div>

          {%- if product != blank -%}
            <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
            <s data-compare-price>
              {%- if price_content_type == 'price' and current_variant.compare_at_price > current_variant.price -%}
                {{- current_variant.compare_at_price | money -}}
              {%- endif -%}
            </s>
            <span data-price>
              {%- if price_content_type == 'price' %}
                {{ current_variant.price | money -}}
              {%- elsif price_content_type == 'custom' -%}
                {{- custom_price_content }}
              {% endif -%}
            </span>

            {%- if block_settings.show_discount -%}
              <span data-discount-display class="product__price-displayed-discount fs-body-50">
                {%-
                  render "get-display-discount"
                  with product: product,
                  variant: current_variant,
                  format: block_settings.discount_format
                -%}
              </span>
            {%- endif -%}

            {% render 'unit-price', item: current_variant %}
          {%- else -%}
            <span>{{ 9999 | money }}</span>
          {%- endif -%}
        </div>
      </div>
      {%- if block_settings.show_vendor or block_settings.show_sku -%}
        <div
          class="product__vendor_and_sku"
          data-showing-sku="{% if block_settings.show_sku and current_variant.sku != blank %}true{% else %}false{% endif %}"
          data-showing-vendor="{% if block_settings.show_vendor and product.vendor != blank %}true{% else %}false{% endif %}"
        >
          {%- if block_settings.show_vendor -%}
            <div class="product__vendor fs-body-100 t-opacity-70">{{ product.vendor | link_to_vendor }}</div>
          {%- endif -%}
          {%- if block_settings.show_sku -%}
            <div class="product__sku fs-body-25 t-opacity-60" data-product-sku>
              {%- if current_variant.sku != blank -%}
                {{ 'products.product.sku_with_value' | t: value: current_variant.sku }}
              {%- endif -%}
            </div>
          {%- endif -%}
        </div>
      {%- endif -%}
    {%- else -%}
      <{{ block.settings.title_tag }} class="product__title ff-heading fs-heading-5-base">
        {{- 'sections.featured_product.placeholder.title' | t -}}
      </{{ block.settings.title_tag }}>
      {%- if block_settings.show_vendor -%}
        <div
          class="product__vendor_and_sku"
          data-showing-vendor="true"
        >
          <div class="product__vendor fs-body-100 t-opacity-70">
            {{ 'sections.featured_product.placeholder.vendor' | t }}
          </div>
        </div>
      {%- endif -%}
    {%- endif -%}

    {%- if block_settings.show_discount and product != blank -%}
      {%- comment -%}weird hack but we need to be able to access these dynamically {%- endcomment -%}
      {%- for variant in product.variants -%}
        <div hidden class="visually-hidden" variant-discount-display variant-id="{{ variant.id }}">
          {%-
            render "get-display-discount" with
            product: product,
            variant: variant,
            format: block_settings.discount_format
          -%}
        </div>
      {%- endfor -%}
    {%- endif -%}

    {%- if is_quick -%}
      <a class="quick-view-view-product-details-link btn btn--text-link" href="{{ product.url | within: collection }}">
        {{ 'products.product.quick_view_product_link' | t }}
        {% render 'icon', icon: 'arrow-long-small' %}
      </a>
    {%- endif -%}
  </div>
</div>
