<!doctype html>


<html class="no-js html-{{ page.title }}" lang="{{ request.locale.iso_code }}" style="--announcement-height: 1px;">
  <head>

<link rel="canonical" href="https://www.azzafencing.com/preferred-page-url">

    
<link rel="canonical" href="{{ canonical_url }}">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">


<meta name="robots" content="index, follow">

    
    
	{% render 'pandectes-rules' %}
	{% render 'geo-location.liquid' %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {% if template contains 'page.sign-up-win-english'
      or template contains 'page.sign-up-win-french'
      or template contains 'page.sign-up-win-italian'
      or template contains 'page.sign-up-win-with-coupan-code'
      or template contains 'page.page.subscribe-and-win-shipping'
    %}
      <meta name="robots" content="index, nofollow">
    {% endif %}
    {% render 'meta-description' %}

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | image_url: width: 32, height: 32 }}" type="image/png">
    {%- endif -%}

    {%- capture seo_title -%}
      {%- if request.page_type == 'search' and search.performed == true -%}
        {{ 'search.heading' | t: count: search.results_count }}:
        {{ 'search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {%- else -%}
        {{ page_title }}
      {%- endif -%}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%}
        &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>
      {% if template.name contains 'collection' %}
        Fencing Collections - Azza Fencing
      {% elsif template.name contains 'collection' and collection.url contains 'all' %}
        Fencing Collections - Azza Fencing
      {% elsif template.name contains 'search' %}
        Search - Azza Fencing
      {% else %}
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {% endif %}
    </title>

    {% render 'social-meta-tags' %}

    {% render 'theme-setup' %}
    {% render 'theme-setting-vars' %}
    {%- render 'theme-globals' -%}

     
    {{ content_for_header }}
    {% if collection.handle == "all" %}
  <style>
    .shopify-section-header, #shopify-section-header { display: none !important; }
    /* Adjust class based on your theme (e.g., .header for some themes) */
  </style>
{% endif %}



<!-- Add this to layout/theme.liquid before closing head tag-->

{%- if customer.metafields.sparklayer.authentication -%}
<!-- Anything inside here only shows for logged in customers-->
<!-- Start of SparkLayer core script-->
<script>
window.sparkOptions = {
  siteId: "premiumfencingshoesazzafencing",
  platform: "shopify",
  rootUrl: {{ routes.root_url | json }},
  language: {{ request.locale.iso_code | json }},
  accountRedirect: {
    urlRegex: /\/account/g,
    goTo: "/index", // page to redirect logged in users to
  },
  auth: {
    user: {{ customer.email | json }},
    token: {{ customer.metafields.sparklayer.authentication | json }},
  },
};
</script>
<script async src="https://sparkcdn.io/sparkjs/premiumfencingshoesazzafencing/live"></script>
<!-- End of SparkLayer core script-->
{%- endif -%}

<!-- required for linking to order or quotes: https://docs.sparklayer.io/my-account-interface#yT5mS -->
<script async src="https://cdn.sparklayer.io/spark-redirect.js"></script>
  </head>

  {% comment %}ly_liquid_scripts_begin{% endcomment %}
  {%- capture ly_liquid_content %}{% comment %}ly_liquid_scripts_end{% endcomment %}<body class="template-{{ request.page_type | handle }}">
    <div class="page">
      {% if settings.enable_page_transitions %}
        {% render 'page-transition-overlay' %}
      {% endif %}

      <div class="theme-editor-scroll-offset"></div>

      <div class="header__space" data-header-space></div>

      {% sections 'header-group' %}
      {% sections 'overlay-group' %}

      {%- if settings.enable_quick_search -%}
        {% render 'quick-search' %}
      {%- endif -%}

      <div class="header-overlay" data-header-overlay>
        <div class="header-overlay__inner"></div>
      </div>

      <main id="main" class="main {{ page.title }}">
        {{ content_for_layout }}
      </main>

      {% sections 'footer-group' %}

      {% render 'store-availability-drawer' %}
      {% render 'quick-view-modal' %}
      {% render 'modal' %}
      {% render 'back-to-top' %}
    </div>

    {{ '//www.youtube.com/iframe_api' | script_tag }}
    {{ '//cdn.shopify.com/shopifycloud/shopify-plyr/v1.0/shopify-plyr.css' | stylesheet_tag }}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% if template contains 'page' %}
      <style>
          .page_section .main-page-title {
            font-size: 32px;
            line-height: 40px;
            font-family: Aileron-Bold;
            letter-spacing: .02em;
            color: #000;
            text-align: center;
            margin-bottom: 33px;
        }
          /* #main .section{
            width:100%;
            max-width:100%;
            padding:0;
          } */
      </style>
    {% endif %}
  </body>{% comment %}ly_liquid_scripts_begin{% endcomment %}{% endcapture %}
  {%- comment -%}Version 1.0{%- endcomment -%}
  {%- if request.locale.primary == true -%}
    {%- assign strings = ly_liquid_content | strip_newlines | split: '<ly-' -%}
    {%- for each_string in strings -%}
      {%- if each_string contains '</ly' -%}
        {%- assign ly_string = each_string | split: '</ly' | first -%}
        {%- assign ly_tag = ly_string | split: '>' | first -%}
        {%- assign ly_open_tag = '<ly-' | append: ly_tag | append: '>' -%}
        {%- assign ly_close_tag = '</ly-' | append: ly_tag | append: '>' -%}
        {%- assign delim = ly_tag | append: '>' -%}
        {%- assign ly_content = ly_string | split: delim | last -%}
        {%- assign src = ly_open_tag | append: ly_content | append: ly_close_tag -%}
        {%- assign ly_liquid_content = ly_liquid_content | replace: src, ly_content -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign strings = ly_liquid_content | strip_newlines | split: '&lt;ly-' -%}
    {%- for each_string in strings -%}
      {%- if each_string contains '&lt;/ly' -%}
        {%- assign ly_string = each_string | split: '&lt;/ly' | first -%}
        {%- assign ly_tag = ly_string | split: '&gt;' | first -%}
        {%- assign ly_open_tag = '&lt;ly-' | append: ly_tag | append: '&gt;' -%}
        {%- assign ly_close_tag = '&lt;/ly-' | append: ly_tag | append: '&gt;' -%}
        {%- assign delim = ly_tag | append: '&gt;' -%}
        {%- assign ly_content = ly_string | split: delim | last -%}
        {%- assign src = ly_open_tag | append: ly_content | append: ly_close_tag -%}
        {%- assign ly_liquid_content = ly_liquid_content | replace: src, ly_content -%}
      {%- endif -%}
    {%- endfor -%}
    {{- ly_liquid_content -}}
  {%- else -%}
    {%- assign current_language_num = 0 -%}
    {%- for language in shop.metafields.language_codes -%}
      {%- if language.last == request.locale.iso_code -%}
        {%- assign language_id_num = language.first | replace: 'ly', '' | plus: 0 %}
        {%- if current_language_num < language_id_num -%}
          {%- assign current_language = language.first -%}
          {%- assign current_language_num = language_id_num -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign language = current_language -%}
    {%- assign strings = ly_liquid_content | strip_newlines | split: '<ly-' -%}
    {%- for each_string in strings -%}
      {%- if each_string contains '</ly' -%}
        {%- assign ly_string = each_string | split: '</ly' | first -%}
        {%- assign ly_tag = ly_string | split: '>' | first -%}
        {%- assign ly_open_tag = '<ly-' | append: ly_tag | append: '>' -%}
        {%- assign ly_close_tag = '</ly-' | append: ly_tag | append: '>' -%}
        {%- assign ly_complete_tag = ly_open_tag | append: ly_close_tag -%}
        {%- assign delim = ly_tag | append: '>' -%}
        {%- assign ly_content = ly_string | split: delim | last -%}
        {%- assign tag_parts = ly_tag | split: '-' -%}
        {%- assign type = tag_parts | first -%}
        {%- assign id = tag_parts | last -%}
        {%- assign src = ly_open_tag | append: ly_content | append: ly_close_tag -%}
        {%- assign used_translation = null -%}
        {%- assign namespace = language | append: 'as' -%}
        {%- assign key = 'tid' | append: theme.id -%}
        {%- if shop.metafields[namespace][key] -%}
          {%- assign data = shop.metafields[namespace][key] -%}
          {%- assign splitter = '[ly' | append: id | append: ']' -%}
          {%- if data contains splitter -%}
            {%- assign used_translation = data | split: splitter | last | split: '[ly]' | first -%}
          {%- endif -%}
        {%- endif -%}
        {%- if used_translation -%}
          {%- assign ly_liquid_content = ly_liquid_content | replace: src, used_translation -%}
        {%- else -%}
          {%- assign namespace = language | append: type -%}
          {%- assign key = 'id' | append: id -%}
          {%- if shop.metafields[namespace][key] -%}
            {%- assign ly_liquid_content = ly_liquid_content | replace: src, shop.metafields[namespace][key] -%}
          {%- else -%}
            {%- assign ly_liquid_content = ly_liquid_content | replace: src, ly_content -%}
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {%- assign strings = ly_liquid_content | strip_newlines | split: '&lt;ly-' -%}
    {%- for each_string in strings -%}
      {%- if each_string contains '&lt;/ly' -%}
        {%- assign ly_string = each_string | split: '&lt;/ly' | first -%}
        {%- assign ly_tag = ly_string | split: '&gt;' | first -%}
        {%- assign ly_open_tag = '&lt;ly-' | append: ly_tag | append: '&gt;' -%}
        {%- assign ly_close_tag = '&lt;/ly-' | append: ly_tag | append: '&gt;' -%}
        {%- assign ly_complete_tag = ly_open_tag | append: ly_close_tag -%}
        {%- assign delim = ly_tag | append: '&gt;' -%}
        {%- assign ly_content = ly_string | split: delim | last -%}
        {%- assign tag_parts = ly_tag | split: '-' -%}
        {%- assign type = tag_parts | first -%}
        {%- assign id = tag_parts | last -%}
        {%- assign src = ly_open_tag | append: ly_content | append: ly_close_tag -%}
        {%- assign used_translation = null -%}
        {%- assign namespace = language | append: 'as' -%}
        {%- assign key = 'tid' | append: theme.id -%}
        {%- if shop.metafields[namespace][key] -%}
          {%- assign data = shop.metafields[namespace][key] -%}
          {%- assign splitter = '[ly' | append: id | append: ']' -%}
          {%- if data contains splitter -%}
            {%- assign used_translation = data | split: splitter | last | split: '[ly]' | first -%}
          {%- endif -%}
        {%- endif -%}
        {%- if used_translation -%}
          {%- assign ly_liquid_content = ly_liquid_content | replace: src, used_translation -%}
        {%- else -%}
          {%- assign namespace = language | append: type -%}
          {%- assign key = 'id' | append: id -%}
          {%- if shop.metafields[namespace][key] -%}
            {%- assign ly_liquid_content = ly_liquid_content | replace: src, shop.metafields[namespace][key] -%}
          {%- else -%}
            {%- assign ly_liquid_content = ly_liquid_content | replace: src, ly_content -%}
          {%- endif -%}
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {%- capture customs -%}{%- for custom in shop.metafields.custom -%}{%- assign src = custom | last -%}{%- assign key = custom | first -%}{%- assign key = key | split: "ly" | last -%}{%- assign translation_namespace = language | append: "cu" -%}{%- assign translation_key = "id" | append: key -%}{%- if shop.metafields[translation_namespace][translation_key] -%}{%- assign translation = shop.metafields[translation_namespace][translation_key] -%} [ly_custom]{{- src -}}[ly_custom_split]{{- translation -}}{%- endif-%}{%- endfor -%}{%- for custom in shop.metafields.ly_global_cu -%}{%- assign src = custom | last -%}{%- assign key = custom | first -%}{%- assign key = key | split: "ly" | last -%}{%- assign translation_namespace = language | append: "ncu" -%}{%- assign translation_key = "id" | append: key -%}{%- if shop.metafields[translation_namespace][translation_key] -%}{%- assign translation = shop.metafields[translation_namespace][translation_key] -%} [ly_custom]{%- if src.type == 'json' -%}{{- src.value.text -}}{%- else -%}{{- src.text -}}{%- endif -%}[ly_custom_split]{{- translation -}}{%- endif-%}{%- endfor -%}{%- if global_strict_mode -%}{%- for custom in shop.metafields.ly_global_strict_mode_cu -%}{%- assign src = custom | last -%}{%- assign key = custom | first -%}{%- assign key = key | split: "ly" | last -%}{%- assign translation_namespace = language | append: "ncu" -%}{%- assign translation_key = "id" | append: key -%}{%- if shop.metafields[translation_namespace][translation_key] -%}{%- assign translation = shop.metafields[translation_namespace][translation_key] -%} [ly_custom]{{- src.value.text -}}[ly_custom_split]{{- translation -}}{%- endif-%}{%- endfor -%}{%- endif -%}{%- case request.page_type -%}{%- when 'index' -%}{%- assign used_scope = 'ly_frontpage_cu' -%}{%- when 'product' -%}{%- assign used_scope = 'ly_products_cu' -%}{%- assign used_object = product -%}{%- when 'collection' -%}{%- assign used_scope = 'ly_collections_cu' -%}{%- assign used_object = collection -%}{%- when 'list-collections' -%}{% assign used_scope = 'ly_collections_cu' -%}{%- when 'blog' -%}{%- assign used_scope = 'ly_blogs_cu' -%}{%- assign used_object = blog -%}{%- when 'article' -%}{%- assign used_scope = 'ly_articles_cu' -%}{%- assign used_object = article -%}{%- when 'page' -%}{% assign used_scope = 'ly_pages_cu' -%}{%- assign used_object = page -%}{%- else -%}{%- assign used_scope = 'ly_system_cu' -%}{%- endcase -%}{%- for custom in shop.metafields[used_scope] -%}{%- assign src = custom | last -%}{%- assign key = custom | first -%}{%- assign key = key | split: "ly" | last -%}{%- assign translation_namespace = language | append: "ncu" -%}{%- assign translation_key = "id" | append: key -%}{%- if shop.metafields[translation_namespace][translation_key] -%}{%- assign translation = shop.metafields[translation_namespace][translation_key] -%} [ly_custom]{%- if src.type == 'json' -%}{{- src.value.text -}}{%- else -%}{{- src.text -}}{%- endif -%}[ly_custom_split]{{- translation -}}{%- endif-%}{%- endfor -%}{%- if used_object -%}{%- for custom in used_object.metafields.custom -%}{%- assign src = custom | last -%}{%- assign key = custom | first -%}{%- assign key = key | split: "ly" | last -%}{%- assign translation_namespace = language | append: "cu" -%}{%- assign translation_key = "id" | append: key -%}{%- if used_object.metafields[translation_namespace][translation_key] -%}{%- assign translation = used_object.metafields[translation_namespace][translation_key] -%} [ly_custom]{%- if src.type == 'json' -%}{{- src.value.text -}}{%- else -%}{{- src.text -}}{%- endif -%}[ly_custom_split]{{- translation -}}{%- endif-%}{%- endfor -%}{%- endif -%}{%- endcapture -%}
    {%- assign customs = customs | split: '[ly_custom]' -%}
    {%- for custom in customs -%}
      {%- assign used_custom = custom | split: '[ly_custom_split]' -%}
      {%- assign src = used_custom | first -%}
      {%- assign dst = used_custom | last -%}
      {%- assign src1 = '"' | append: src | append: '"' -%}
      {%- assign dst1 = '"' | append: dst | append: '"' -%}
      {%- assign src2 = "'" | append: src | append: "'" -%}
      {%- assign dst2 = "'" | append: dst | append: "'" -%}
      {%- assign src3 = '>' | append: src | append: '<' -%}
      {%- assign dst3 = '>' | append: dst | append: '<' -%}
      {%- assign ly_liquid_content = ly_liquid_content | replace: src1, dst1 -%}
      {%- assign ly_liquid_content = ly_liquid_content | replace: src2, dst2 -%}
      {%- assign ly_liquid_content = ly_liquid_content | replace: src3, dst3 -%}
    {%- endfor -%}
    {%- assign tag_translation_namespace = 'ta' | append: language -%}
    {%- for tag_translation in shop.metafields[tag_translation_namespace] -%}
      {%- assign src = tag_translation | first -%}
      {%- if src contains 'ly_tag_' -%}
        {%- assign tmp_tag_namespace = 'l_ta' | append: language -%}
        {%- if shop.metafields[tmp_tag_namespace][src] -%}
          {%- assign src = shop.metafields[tmp_tag_namespace][src] -%}
        {%- endif -%}
      {%- endif -%}
      {%- assign translation = tag_translation | last -%}
      {%- assign src1 = '"' | append: src | append: '"' -%}
      {%- assign dst1 = '"' | append: translation | append: '"' -%}
      {%- assign src2 = "'" | append: src | append: "'" -%}
      {%- assign dst2 = "'" | append: translation | append: "'" -%}
      {%- assign src3 = '>' | append: src | append: '<' -%}
      {%- assign dst3 = '>' | append: translation | append: '<' -%}
      {%- assign ly_liquid_content = ly_liquid_content | replace: src1, dst1 -%}
      {%- assign ly_liquid_content = ly_liquid_content | replace: src2, dst2 -%}
      {%- assign ly_liquid_content = ly_liquid_content | replace: src3, dst3 -%}
    {%- endfor -%}
    {%- assign translation_mode_key = 'ly' | append: theme.id -%}
    {%- if shop.metafields.translation_mode[translation_mode_key] == 'non-strict' -%}
      {%- assign vendor_translation_namespace = 've' | append: language -%}
      {%- for vendor_translation in shop.metafields[vendor_translation_namespace] -%}
        {%- assign src = vendor_translation | first -%}
        {%- if src contains 'ly_vendor_' -%}
          {%- assign tmp_vendor_namespace = 'l_ve' | append: language -%}
          {%- if shop.metafields[tmp_vendor_namespace][src] -%}
            {%- assign src = shop.metafields[tmp_vendor_namespace][src] -%}
          {%- endif -%}
        {%- endif -%}
        {%- assign translation = vendor_translation | last -%}
        {%- assign src1 = '"' | append: src | append: '"' -%}
        {%- assign dst1 = '"' | append: translation | append: '"' -%}
        {%- assign src2 = "'" | append: src | append: "'" -%}
        {%- assign dst2 = "'" | append: translation | append: "'" -%}
        {%- assign src3 = '>' | append: src | append: '<' -%}
        {%- assign dst3 = '>' | append: translation | append: '<' -%}
        {%- assign ly_liquid_content = ly_liquid_content | replace: src1, dst1 -%}
        {%- assign ly_liquid_content = ly_liquid_content | replace: src2, dst2 -%}
        {%- assign ly_liquid_content = ly_liquid_content | replace: src3, dst3 -%}
      {%- endfor -%}
      {%- assign type_translation_namespace = 'ty' | append: language -%}
      {%- for type_translation in shop.metafields[type_translation_namespace] -%}
        {%- assign src = type_translation | first -%}
        {%- if src contains 'ly_type_' -%}
          {%- assign tmp_type_namespace = 'l_ty' | append: language -%}
          {%- if shop.metafields[tmp_type_namespace][src] -%}
            {%- assign src = shop.metafields[tmp_type_namespace][src] -%}
          {%- endif -%}
        {%- endif -%}
        {%- assign translation = type_translation | last -%}
        {%- assign src1 = '"' | append: src | append: '"' -%}
        {%- assign dst1 = '"' | append: translation | append: '"' -%}
        {%- assign src2 = "'" | append: src | append: "'" -%}
        {%- assign dst2 = "'" | append: translation | append: "'" -%}
        {%- assign src3 = '>' | append: src | append: '<' -%}
        {%- assign dst3 = '>' | append: translation | append: '<' -%}
        {%- assign ly_liquid_content = ly_liquid_content | replace: src1, dst1 -%}
        {%- assign ly_liquid_content = ly_liquid_content | replace: src2, dst2 -%}
        {%- assign ly_liquid_content = ly_liquid_content | replace: src3, dst3 -%}
      {%- endfor -%}
    {%- endif -%}
    {%- assign ly_liquid_content = ly_liquid_content | replace: '#ly_cu', '' -%}
    {{- ly_liquid_content -}}
  {%- endif -%}
  <script>
    if (!window.langify) { console.log("langify is not published on this theme, but the polyfill translation code is active"); } else { console.log("langify polyfill translation code is active"); } window.langify = window.langify || {}; window.langify.settings = window.langify.settings || {}; window.langify.settings.polyfill = true;
  </script>
  {% comment %}ly_liquid_scripts_end{% endcomment %}
  <link
    rel="preload"
    fetchpriority="low"
    href="{{ 'theme-deferred.css' | asset_url }}"
    as="style"
    onload="this.onload=null;this.rel='stylesheet'"
  >
  <noscript><link rel="stylesheet" href="{{ 'theme-deferred.css' | asset_url }}"></noscript>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
          
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</html>
