<script>
  {% # This is done here AND in the JS so it's responsive in the theme editor before the JS is loaded %}
  document.documentElement.setAttribute("data-enable-sticky-announcement-bar", "{{ section.settings.sticky_enabled }}");
</script>

  {%- capture items -%}
    {%- for block in section.blocks -%}
      <div
        class="announcement-bar__item ff-body fs-body-50 swiper-slide"
        {% unless forloop.first %}
          inert
        {% endunless %}
        data-slide
        {{ block.shopify_attributes }}
        data-index="{{ forloop.index0 }}"
      >
        {%- assign has_mobile_text = false -%}
        {%- if block.settings.title_mobile != blank and block.settings.title_mobile != block.settings.title -%}
          {%- assign has_mobile_text = true -%}
          <div class="announcement-bar__item-inner announcement-bar__item-inner-mobile-only">
            {%- if block.settings.link != blank -%}
              <a class="announcement-bar__link color-inherit" href="{{ block.settings.link }}">
                {{ block.settings.title_mobile | replace: '<a ', '<span class="fake-link" ' | replace: '</a>', '</span>' }}
              </a>
            {%- else -%}
<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.66667 15.8333C7.58714 15.8333 8.33333 15.0872 8.33333 14.1667C8.33333 13.2462 7.58714 12.5 6.66667 12.5C5.74619 12.5 5 13.2462 5 14.1667C5 15.0872 5.74619 15.8333 6.66667 15.8333Z" stroke="#fff" stroke-width="1.5" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M15 15.8333C15.9205 15.8333 16.6667 15.0872 16.6667 14.1667C16.6667 13.2462 15.9205 12.5 15 12.5C14.0795 12.5 13.3333 13.2462 13.3333 14.1667C13.3333 15.0872 14.0795 15.8333 15 15.8333Z" stroke="#fff" stroke-width="1.5" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.375 14.1667H12.5V5.5C12.5 5.22386 12.2762 5 12 5H0.833332" stroke="#fff" stroke-width="1.5" stroke-linecap="round"/>
<path d="M4.70833 14.1668H3C2.72386 14.1668 2.5 13.943 2.5 13.6668V9.5835" stroke="#fff" stroke-width="1.5" stroke-linecap="round"/>
<path d="M1.66667 7.5H5" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.5 7.5H17.1751C17.3727 7.5 17.5517 7.61637 17.632 7.79693L19.1236 11.153C19.152 11.217 19.1667 11.2862 19.1667 11.3561V13.6667C19.1667 13.9428 18.9428 14.1667 18.6667 14.1667H17.0833" stroke="#fff" stroke-width="1.5" stroke-linecap="round"/>
<path d="M12.5 14.1665H13.3333" stroke="#fff" stroke-width="1.5" stroke-linecap="round"/>
</svg>] {{ block.settings.title_mobile }}
            {%- endif -%}
          </div>
        {%- endif -%}
        <div class="announcement-bar__item-inner{% if has_mobile_text %} announcement-bar__item-inner-desktop-only{% endif %}">
          {%- if block.settings.link != blank -%}
            <a class="announcement-bar__link color-inherit" href="{{ block.settings.link }}">
              {{ block.settings.title | replace: '<a ', '<span class="fake-link" ' | replace: '</a>', '</span>' }}
            </a>
          {%- else -%}
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6.66667 15.8333C7.58714 15.8333 8.33333 15.0872 8.33333 14.1667C8.33333 13.2462 7.58714 12.5 6.66667 12.5C5.74619 12.5 5 13.2462 5 14.1667C5 15.0872 5.74619 15.8333 6.66667 15.8333Z" stroke="#fff" stroke-width="1.5" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M15 15.8333C15.9205 15.8333 16.6667 15.0872 16.6667 14.1667C16.6667 13.2462 15.9205 12.5 15 12.5C14.0795 12.5 13.3333 13.2462 13.3333 14.1667C13.3333 15.0872 14.0795 15.8333 15 15.8333Z" stroke="#fff" stroke-width="1.5" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M8.375 14.1667H12.5V5.5C12.5 5.22386 12.2762 5 12 5H0.833332" stroke="#fff" stroke-width="1.5" stroke-linecap="round"/>
<path d="M4.70833 14.1668H3C2.72386 14.1668 2.5 13.943 2.5 13.6668V9.5835" stroke="#fff" stroke-width="1.5" stroke-linecap="round"/>
<path d="M1.66667 7.5H5" stroke="#fff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M12.5 7.5H17.1751C17.3727 7.5 17.5517 7.61637 17.632 7.79693L19.1236 11.153C19.152 11.217 19.1667 11.2862 19.1667 11.3561V13.6667C19.1667 13.9428 18.9428 14.1667 18.6667 14.1667H17.0833" stroke="#fff" stroke-width="1.5" stroke-linecap="round"/>
<path d="M12.5 14.1665H13.3333" stroke="#fff" stroke-width="1.5" stroke-linecap="round"/>
</svg>  {{ block.settings.title }}
          {%- endif -%}
        </div>
      </div>
    {%- endfor -%}
  {%- endcapture -%}
  <div
    class="main_inner_annunce section"
    style="
      --color-background: {{ section.settings.color_background }};

      --color-text: {{ section.settings.color_text }};
    "
  >
    <div class="first_txt">
      <p>{{ section.settings.lable_text }}</p>
    </div>
    <div
      {% if section.blocks.size == 0 %}
        hidden
      {% endif %}
      class="announcement-bar{% if section.blocks.size == 0 %} hidden{% endif %} "
      data-section-id="{{ section.id }}"
      data-section-type="announcement-bar"
      data-enable-sticky-announcement-bar="{{ section.settings.enable_sticky_announcement_bar }}"
      data-item-count="{{ section.blocks.size }}"
      style=""
    >
      <div class="swiper_slider_txt">
        <div class="ui-overlap-wrap">
          <div class="ui-overlap">
            <div class="fader left">
              <button
                class="slider-nav-button slider-nav-button-prev"
                title="{{ 'general.accessibility.previous' | t }}"
              >
                {% render 'icon' with icon: 'chevron' %}
              </button>
            </div>
            <div class="ui-overlap-item-clones" aria-hidden="true">
              {{ items }}
            </div>
            <div class="fader right">
              <button class="slider-nav-button slider-nav-button-next" title="{{ 'general.accessibility.next' | t }}">
                {% render 'icon' with icon: 'chevron' %}
              </button>
            </div>
          </div>
        </div>
        <div
          class="swiper"
          data-slider
          data-autoplay-enabled="{{ section.settings.autoplay_enabled }}"
          data-autoplay-delay="{{ section.settings.autoplay_delay | times: 1000 }}"
        >
          <div class="swiper-wrapper">
            {{ items }}
          </div>
        </div>
      </div>
    </div>
    {% if section.settings.enable_country_selector %}
      <div class="end_txt">
        <span class="ly-custom-1000"></span>
      </div>
    {% endif %}
  </div>

{% schema %}
{
  "name": "t:sections.announcement_bar.name",
  "class": "announcement-bar__outer-wrapper",
  "max_blocks": 3,
  "settings": [
    {
      "id": "lable_text",
      "type": "text",
      "label": "Lable"

    },
      {
      "id": "link_title",
      "type": "text",
      "label": "Link Title"
    },
     {
      "id": "link_url",
      "type": "url",
      "label": "Link Url"
    },

    {
      "id": "enable_sticky_announcement_bar",
      "type": "select",
      "label": "t:sections.announcement_bar.settings.enable_sticky_announcement_bar.label",
      "info": "t:sections.announcement_bar.settings.enable_sticky_announcement_bar.info",
      "options": [
        {
          "value": "never",
          "label": "t:sections.announcement_bar.settings.enable_sticky_announcement_bar.options.never"
        },
        {
          "value": "desktop",
          "label": "t:sections.announcement_bar.settings.enable_sticky_announcement_bar.options.desktop"
        },
        {
          "value": "mobile",
          "label": "t:sections.announcement_bar.settings.enable_sticky_announcement_bar.options.mobile"
        },
        {
          "value": "desktop-and-mobile",
          "label": "t:sections.announcement_bar.settings.enable_sticky_announcement_bar.options.both"
        }
      ],
      "default": "never"
    },
    {
      "id": "autoplay_enabled",
      "type": "checkbox",
      "label": "t:sections.announcement_bar.settings.autoplay_enabled.label",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_delay",
      "label": "t:sections.announcement_bar.settings.timing.label",
      "min": 3,
      "max": 15,
      "step": 1,
      "default": 4,
      "unit": "s"
    },
    {
      "id": "color_background",
      "type": "color",
      "label": "t:sections.announcement_bar.settings.color_background.label",
      "default": "#000000"
    },
    {
      "id": "color_text",
      "type": "color",
      "label": "t:sections.announcement_bar.settings.color_text.label",
      "default": "#FFFFFF"
    },
        {
      "type": "checkbox",
      "id": "enable_country_selector",
      "label": "t:shared.settings.disclosure.enable_country_selector.label",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement_bar.blocks.announcement.name",
      "settings": [
        {
          "type": "richtext",
          "id": "title",
          "default": "<p>Free standard shipping and returns on all orders</p>",
          "label": "t:sections.announcement_bar.blocks.announcement.settings.title.label"
        },
        {
          "type": "richtext",
          "id": "title_mobile",
          "label": "t:sections.announcement_bar.blocks.announcement.settings.title_mobile.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement_bar.blocks.announcement.settings.link.label",
          "info": "t:sections.announcement_bar.blocks.announcement.settings.link.info"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
