<div class="index_newsletter">
  <div class="newsletter-content-div">
    <div class="newsletter__block-content section-blocks animation--section-blocks">
      <h2 class="newsletter__block-content-heading ff-heading fs-heading-2-base section-blocks__heading">
        {{ section.settings.title }}
      </h2>
      <div class="newsletter__block-content-text rte ff-body fs-body-100 section-blocks__text">
        <p>
          {{ section.settings.description }}
        </p>
      </div>
      <div class="klaviyo_messages">
        <p class="success_message" style="display:none;">Thank you for signing up! Your special offer is on its way!</p>
        <p class="error_message" style="display:none;">Please Provide Email</p>
      </div>
    </div>
    <div class="newsletter__block-content newsletter-content-form">
      <div class="klaviyo-form-X4TPQG"></div>
      {% comment %}
        <form
          class="form-subscribe Form mailing-list__form"
          id="email_signup"
          method="POST"
          novalidate="novalidate"
          action="//manage.kmail-lists.com/subscriptions/subscribe"
        >
          <div class="input-group index_newsletter-group">
            <input type="hidden" name="g" value="XYfRp6">

            <input
              type="email"
              id="k_id_email"
              class="form-control input-lg index_newsletter-input mailing-list__form-input"
              placeholder="Your Email..."
            >
            <span class="input-group-btn">
              <button class="btn btn-lg index_newsletter_btn n-sub-btn" type="button" name="subscribe">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_96_1786)">
                  <path d="M22.1525 3.55322L11.1772 21.0044L9.50684 12.4078L2 7.89796L22.1525 3.55322Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M9.45557 12.4436L22.1524 3.55322" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_96_1786">
                  <rect width="24" height="24" fill="white"/>
                  </clipPath>
                  </defs>
                </svg>
              </button>
            </span>
          </div>
        </form>
      {% endcomment %}
    </div>
  </div>
  <div class="newsletter-bg-div">
    {% if section.settings.bg != blank %}
      <img src="{{ section.settings.bg | img_url:'master' }}" class="desktop-img-newslatter"  alt="{{ shop.name }}">
    {% endif %}
    {% if section.settings.mobilebg != blank %}
      <img src="{{ section.settings.mobilebg | img_url:'master' }}" class="mobile-img-newslatter" alt="{{ shop.name }}">
    {% endif %}
  </div>
</div>

<script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js" async></script>

<script type="text/javascript">
       $(document).ready(function(){
         $(".n-sub-btn").click(function(e){
           var email=$("#k_id_email").val();
           e.preventDefault();
  if(email != ""){
    var settings = {
   "async": true,
   "crossDomain": true,
   "url": "https://manage.kmail-lists.com/ajax/subscriptions/subscribe",
   "method": "POST",
   "headers": {
   "content-type": "application/x-www-form-urlencoded",
   "cache-control": "no-cache"
   },
   "data": {
   "g": "XYfRp6",
   "email": email,
   }
   };

   $.ajax(settings).done(function(response) {
   console.log(response);
     if(response.success == true){
     $(".mailing-list__form").hide();
     $(".error_message").css("display","none");
       $(".success_message").css("display","block");
     }else{
       $(".error_message").css("display","block");
       $(".success_message").css("display","none");
       $("#k_id_email").focus();

     }
     });
  }else{

   $(".error_message").css("display","block");
       $(".success_message").css("display","none");
       $("#k_id_email").focus();

  }

   });

       });
</script>

<style>
    #shopify-section-sections--21176874795340__index_newsletter_jPKCck{
      width:100%;
    }
    .newsletter__block-content-heading{
      color:#fff !important;
      font-weight:600 !important;

    }
    .index_newsletter{
      background-color:#101216;
      position:relative;
    }
   .newsletter-content-div{
     display:flex;
     align-items: flex-end;
         padding: 0 65px;
   }
    .index_newsletter .newsletter__block-content{
          padding: 72px 50px;
    }
    .newsletter-bg-div{
          position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
      .newsletter-bg-div img{
        width:100%;
        height:100%;
         object-fit: cover;
      object-position: center;
      }
  .mobile-img-newslatter{
    display:none;
  }
    .newsletter__block-content-text.rte.ff-body{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;

    }
    .index_newsletter-group{
      align-items: center;
      display: flex;
          width: 98%;
      margin-left: auto;
    }
  .index_newsletter-input{
    width:100%;
    padding:16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #6A6A6A;
  background: #FFFFFF;
    border:0;
  }
   .index_newsletter_btn{
  background: #E81F25;
      padding: 15px;
     border:0;
   }
  @media (min-width:992px) and (max-width:1199px){
        .newsletter-content-div{
      padding:0;
    }
  }

  @media (min-width:768px) and (max-width:991px){
      .newsletter-content-div{
      padding:0;
    }
    .newsletter-content-div{
          flex-wrap: wrap;
    }
      .index_newsletter .newsletter__block-content{
            padding: 35px 50px;
      width: 100%;
      padding-bottom: 0;
            text-align: center;
      }
    .section-blocks__heading{
      font-size: 26px;
    }
    .newsletter-bg-div{
      position:unset;
    }


  }
  @media (max-width:767px){
    .newsletter-content-div{
          flex-wrap: wrap;
    }
    .newsletter-content-div{
      padding:0;
    }
      .index_newsletter .newsletter__block-content{
            padding: 30px 20px;
      width: 100%;
      padding-bottom: 0;
            text-align: center;
      }
    .section-blocks__heading{
      font-size: 16px;
      line-height:28px;
    }
    .newsletter-bg-div{
      position:unset;
    }
      .mobile-img-newslatter{
    display:block;
  }
    .desktop-img-newslatter{
      display:none;
    }
    .newsletter__block-content-text.rte.ff-body{
      font-size:12px;
      line-height:20px;
    }
    .index_newsletter-input{
      padding:11px 15px;
    }
     .index_newsletter_btn{
      padding:10px 15px;
              min-height: 44px;
    }
  }
  @media (max-width:480px){
      .newsletter-content-div{
          flex-wrap: wrap;
    }
      .newsletter-content-div{
      padding:0;
    }
      .index_newsletter .newsletter__block-content{
            padding: 30px 20px;
      width: 100%;
      padding-bottom: 0;
            text-align: center;
      }
    .desktop-img-newslatter{
      display:none;
    }
    .newsletter__block-content-text.rte.ff-body{
      font-size:12px;
      line-height:20px;
    }
    .newsletter-bg-div{
      position:unset;
    }
      .mobile-img-newslatter{
    display:block;
  }
    .desktop-img-newslatter{
      display:none;
    }
      .index_newsletter-input{
      padding:11px 15px;
    }
    .index_newsletter_btn{
      padding:10px 15px;
              min-height: 44px;
    }
  }
</style>

{% schema %}
{
  "name": "index newsletter",
      "class": "section",
"tag": "section",
"disabled_on": {
  "groups": ["header", "custom.overlay"]
},
  "settings": [
    {
      "type":"text",
      "id":"title",
      "label": "Title",
      "default":"<span>Enjoy 10% Off <\/span>Your First Purchase"
    },
    {
      "type":"text",
      "id":"description",
      "label": "Description",
      "default":"Join our email list and be the first to know about new limited edition products, material innovations, and get discount."
    },
    {
      "type": "header",
      "content": "header"
    },
    {
      "type": "image_picker",
      "id": "bg",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobilebg",
      "label": "mobile Image"
    }
  ],
    "presets": [
  {
    "name": "index newsletter"
  }
]
}
{% endschema %}
