{{ 'template-article.css' | asset_url | stylesheet_tag }}
{% if article.image %}
  {% assign social_image = article.image | img_url: '1024x' %}
{% endif %}
{% assign social_url = shop.url | append: article.url %}
{% assign share_url = social_url | url_param_escape %}
{% assign share_title = artilce.title | url_param_escape %}
{% assign share_image = false %}
{% if social_image %}
  {% assign share_image = social_image | url_param_escape %}
{% endif %}

{%- liquid
  if comment.status == 'pending'
    assign number_of_comments = article.comments_count | plus: 1
  else
    assign number_of_comments = article.comments_count
  endif
-%}
<input type="text" value="{{ share_url }}" id="myInput" style="display:none;">
<section
  class="
    article
    {% if settings.enable_section_animations and section.settings.enable_animation %}
      animation
      animation--article
    {% endif %}
  "
  style="
    {% if section.settings.content_width == 'custom' %}
      --content-width: {{ section.settings.custom_content_width }}px;
    {% endif %}
  "
  data-section-id="{{ section.id }}"
  data-section-type="article"
>
  <div class="article__inner">
    <article itemscope itemtype="http://schema.org/BlogPosting">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'title' -%}
            {%- liquid
              assign article_categories = settings.article_categories | downcase
              assign tag_el = 'span'
              if blog
                assign tag_el = 'a'
              endif
            -%}
            {%- capture tag_list -%}
              {%- if block.settings.show_tags and article.tags.size > 0 -%}
                {%- for tag in article.tags -%}
                  {%- assign tag_dc = tag | downcase -%}
                  {%- if article_categories contains tag_dc or article_categories == blank -%}
                    <li class="article-tags__item">
                      <{{ tag_el }}
                        {%- if blog -%}
                          href="{{ blog.url }}/tagged/{{ tag | handleize }}"
                        {%- endif -%}
                        class="article-tags__tag fs-body-50"
                      >
                        {{ tag }}
                      </{{ tag_el }}>
                    </li>
                  {%- endif -%}
                {%- endfor -%}
              {%- endif -%}
            {%- endcapture -%}
            <div class="article-icon-content section">
              <div class="article-social-icon">
                <p>Share</p>
                <ul>
                  <li>
                    <a
                      target="_blank"
                      href="intent://instagram.com/share?url={{ share_url }}}&text={{ share_title }}}"
                    >
                      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5 16C14.7091 16 16.5 14.2091 16.5 12C16.5 9.79086 14.7091 8 12.5 8C10.2909 8 8.5 9.79086 8.5 12C8.5 14.2091 10.2909 16 12.5 16Z" stroke="#E81F25" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M3.5 16V8C3.5 5.23858 5.73858 3 8.5 3H16.5C19.2614 3 21.5 5.23858 21.5 8V16C21.5 18.7614 19.2614 21 16.5 21H8.5C5.73858 21 3.5 18.7614 3.5 16Z" stroke="#E81F25" stroke-width="2"/>
                        <path d="M18 6.50989L18.01 6.49878" stroke="#E81F25" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M21.5 8V16C21.5 18.7614 19.2614 21 16.5 21H8.5C5.73858 21 3.5 18.7614 3.5 16V8C3.5 5.23858 5.73858 3 8.5 3H16.5C19.2614 3 21.5 5.23858 21.5 8Z" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10.5 12C8.84315 12 7.5 13.3431 7.5 15C7.5 16.6569 8.84315 18 10.5 18C12.1569 18 13.5 16.6569 13.5 15V6C13.8333 7 15.1 9 17.5 9" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </li>
                  <li>
                    <a
                      class="share-buttons--button share-buttons--facebook"
                      target="_blank"
                      href="//www.facebook.com/sharer.php?u={{ share_url }}"
                    >
                      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M21.5 8V16C21.5 18.7614 19.2614 21 16.5 21H8.5C5.73858 21 3.5 18.7614 3.5 16V8C3.5 5.23858 5.73858 3 8.5 3H16.5C19.2614 3 21.5 5.23858 21.5 8Z" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M11.5 21C11.5 18 11.5 15 11.5 12C11.5 9.8125 12 8 15.5 8" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M9.5 13H11.5H15.5" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </a>
                  </li>
                  <li>
                    <button type="button" class="btn-copy">
                      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.5 11.9976C14.5 9.5059 12.183 7 9.35714 7C9.02241 7 7.91904 7.00001 7.64286 7.00001C4.80254 7.00001 2.5 9.23752 2.5 11.9976C2.5 14.376 4.20973 16.3664 6.5 16.8714C6.86756 16.9525 7.25006 16.9952 7.64286 16.9952" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M10.5 11.9976C10.5 14.4893 12.817 16.9952 15.6429 16.9952C15.9776 16.9952 17.081 16.9952 17.3571 16.9952C20.1975 16.9952 22.5 14.7577 22.5 11.9976C22.5 9.61921 20.7903 7.62885 18.5 7.12384C18.1324 7.04279 17.7499 7 17.3571 7" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg>
                    </button>
                  </li>
                  <li>
                    <a
                      href="mailto:?subject={{ article.title }}&amp;body={{ share_url }}"
                      target="_self"
                    >
                      <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.5 9L12.5 12.5L17.5 9" stroke="#231F20" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M2.5 17V7C2.5 5.89543 3.39543 5 4.5 5H20.5C21.6046 5 22.5 5.89543 22.5 7V17C22.5 18.1046 21.6046 19 20.5 19H4.5C3.39543 19 2.5 18.1046 2.5 17Z" stroke="#231F20" stroke-width="2"/>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>

              <div class="article-content-detail">
                <header
                  class="
                    article__header
                    page__header
                    {% if forloop.first %}article__header--top{% endif %}
                  "
                  {{ block.shopify_attributes }}
                >
                  <div
                    class="article__header-inner"
                    style="
                      {% if section.settings.content_width == 'custom' %}
                        --content-width: {{ section.settings.custom_content_width }}px;
                      {% endif %}
                    "
                  >
                    {% comment %}
                      {%- if tag_list.size > 0 -%}
                        <div class="article__tags">
                          <ul class="article-tags">
                            {{ tag_list }}
                          </ul>
                        </div>
                      {%- endif -%}
                    {% endcomment %}
                    {%- if block.settings.show_author or block.settings.show_date -%}
                      <p class="article__meta fs-body-75">
                        {%- if block.settings.show_date -%}
                          {{ article.published_at | time_tag: format: 'abbreviated_date' }}
                        {%- endif -%}
                        {%- if block.settings.show_author -%}
                          <span>
                            <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <circle cx="4" cy="4" r="4" fill="#6A6A6A"/>
                            </svg>

                            {{- 'blogs.article.by' | t }}
                            {{ article.author -}}
                          </span>
                        {%- endif -%}
                      </p>
                    {%- endif -%}
                    <h1 class="article__heading ff-heading fs-heading-display-3 ta-c">{{ article.title }}</h1>
                  </div>
                </header>
          {%- when 'featured_image' -%}
            {%- if article.image != blank -%}
              {%- liquid
                assign placeholder_aspect_ratio = 'no-ratio'

                if block.settings.image_aspect == 'original'
                  assign placeholder_aspect_ratio = 'square'
                endif
              -%}

              <div
                class="
                  article__image
                  article__image--image-aspect-{{ block.settings.image_aspect }}
                  {% if block.settings.enable_full_width_image %}article__image--full-width{% endif %}
                  {% if forloop.first %}article__image--top{% endif %}
                "
                style="
                  --custom-height: {{ block.settings.desktop_height }}vh;
                  --custom-height-mobile: {{ block.settings.mobile_height }}vh;
                "
                {{ block.shopify_attributes }}
              >
                <div class="article__image-container">
                  {%-
                    render 'image' with
                    wrapper_class: "article__image-inner",
                    image: article.image,
                    sizes: "100vw",
                    focal_point: block.settings.focal_point,
                    placeholder_natural_fallback_ratio: placeholder_aspect_ratio,
                    animate: true
                    prioritize_loading: true
                  -%}
                </div>
              </div>
            {%- endif -%}
          {%- when 'content' -%}
            <div
              class="
                article__content
                {% if forloop.first %}article__content--top{% endif %}
              "
              {{ block.shopify_attributes }}
            >
              <div class="article__block-inner">
                <div class="article__rte rte rte--article">
                  {{ article.content }}
                </div>
              </div>
            </div>
          {%- when 'social_sharing' -%}
            <div class="article__social-sharing" {{ block.shopify_attributes }}>
              <div class="article__block-inner">
                {%- capture article_url -%}
                  {{- shop.url -}}
                  {{- article.url -}}
                {%- endcapture -%}
                {% render 'social-share',
                  url: article_url,
                  share_text: block.settings.share_text,
                  title: article.title,
                  image: article.image,
                  alignment: 'left-above'
                %}
              </div>
            </div>
          {%- when 'pagination' -%}
            {%- if blog.previous_article or blog.next_article -%}
              <div class="article__pagination" {{ block.shopify_attributes }}>
                <div class="article__block-inner">
                  {%- if blog.previous_article -%}
                    <div class="article__pagination-item article__pagination-item--prev">
                      <a href="{{ blog.previous_article }}" class="article__pagination-prev btn btn--callout">
                        <span>
                          {{ 'blogs.article.pagination.previous' | t }}
                        </span>
                      </a>
                    </div>
                  {%- endif -%}

                  {%- if blog.next_article -%}
                    <div class="article__pagination-item article__pagination-item--next">
                      <a href="{{ blog.next_article }}" class="article__pagination-next btn btn--callout">
                        <span>
                          {{ 'blogs.article.pagination.next' | t }}
                        </span>
                      </a>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            {%- endif -%}
        {%- endcase -%}
      {%- endfor -%}

      {%- if blog.comments_enabled? -%}
        <div class="article__comments">
          <div class="article__block-inner">
            {%- if number_of_comments > 0 -%}
              <h2 class="comments__heading ff-heading fs-heading-4-base fs-heading-3-base-ns">
                {{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}
              </h2>

              {%- paginate article.comments by 5 -%}
                {% comment %}
                  #comments is required, it is used as an anchor link by Shopify.
                {% endcomment %}
                <div id="comments">
                  <ul class="comments">
                    {% comment %}
                      If a comment was just submitted with no blank field, show it.
                    {% endcomment %}
                    {%- if comment.status == 'pending' -%}
                      <li id="{{ comment.id }}" class="comment">
                        {% render 'comment', comment: comment %}
                      </li>
                    {%- endif -%}

                    {%- for comment in article.comments -%}
                      <li id="{{ comment.id }}" class="comment">
                        {% render 'comment', comment: comment %}
                      </li>
                    {%- endfor -%}
                  </ul>

                  {%- if paginate.pages > 1 -%}
                    {% render 'pagination', paginate: paginate, type: 'general.pagination.comments' %}
                  {%- endif -%}
                </div>
              {%- endpaginate -%}
            {%- endif -%}

            {%- form 'new_comment', article -%}
              {%- assign formId = 'CommentForm' -%}

              <h2 class="comments__leave-heading ff-heading fs-heading-4-base c-heading">
                {{ 'blogs.comments.title' | t }}
              </h2>
              {%- liquid
                assign post_message = 'blogs.comments.success' | t

                if blog.moderated? and comment.status == 'pending' or comment.status == 'unapproved'
                  assign post_message = 'blogs.comments.success_moderated' | t
                elsif comment.status == 'spam'
                  assign post_message = 'blogs.comments.unapproved' | t
                endif
              -%}

              {% render 'form-status', form: form, form_id: formId, success_message: post_message %}

              <div class="input-control__container ">
                <div class="input-control input-control--half">
                  <label for="{{ formId }}-author">{{ 'blogs.comments.name' | t }} *</label>
                  <input
                    type="text"
                    name="comment[author]"
                    placeholder="{{ 'blogs.comments.name' | t }}"
                    required="required"
                    id="{{ formId }}-author"
                    class="input{% if form.errors contains 'author' %} input--error{% endif %}"
                  >
                </div>

                <div class="input-control input-control--half">
                  <label for="{{ formId }}-email">{{ 'blogs.comments.email' | t }} *</label>
                  <input
                    type="email"
                    name="comment[email]"
                    placeholder="{{ 'blogs.comments.email' | t }}"
                    required="required"
                    id="{{ formId }}-email"
                    class="input{% if form.errors contains 'email' %} input--error{% endif %}"
                  >
                </div>

                <div class="input-control">
                  <label for="{{ formId }}-body">{{ 'blogs.comments.message' | t }} *</label>
                  <textarea
                    name="comment[body]"
                    placeholder="{{ 'blogs.comments.message' | t }}"
                    required="required"
                    id="{{ formId }}-body"
                    class="input{% if form.errors contains 'body' %} input--error{% endif %}"
                    rows="5"
                  >
                    {{- form.body -}}
                  </textarea>
                </div>
              </div>
              <div class="aticle-comment-div">
                {% if blog.moderated? %}
                  <p class="comments__mod-message ff-body fs-body-75">{{ 'blogs.comments.moderated' | t }}</p>
                {% endif %}

                <button type="submit" class="btn btn--secondary btn--small comments__submit">
                  Add a comment &nbsp;&nbsp;
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 15.8334L15.8333 5M15.8333 5V15.4M15.8333 5H5.43333" stroke="white" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                  </svg>
                </button>
              </div>
            {%- endform -%}
          </div>
        </div>
      {%- endif -%}
    </article>
  </div>
</section>

<style>
    .article__heading{
      font-size: 32px;
      line-height: 38px;
      text-align: left;
    }
    .ta-c{
       text-align: left;
    }
    .article__header-inner {
      align-items: start;
  }
    .article__block-inner h2{
          font-size: 26px;
      line-height: 36px;
       font-weight:600;
    }
    .article__block-inner h3{
          font-size: 26px;
      line-height: 36px;
      font-weight:600;
    }
    .article__block-inner img{
      width:100%;
    }
    .article__meta{
      opacity: 1;
      font-size: 16px;
      line-height: 26px;
      color: #151515;
      margin-bottom:15px;
    }
    .article__meta span{
      margin-left:20px;
    }
    .article__meta span svg{
      margin-right:8px;
    }
    .article-icon-content {
      display: flex;
      flex-wrap: wrap;
        padding-bottom: 0;
      border-bottom: 1px solid #E2E2E2;
      margin: 0 45px;
      padding-left: 0;
      padding-right: 0;
      margin:auto;
  }
    .article-social-icon {
      width: max-content;
  }
    .article-content-detail{
      max-width: 100%;
    margin:auto;
      width:auto;
    }
    .article__header, .article .article__header{
      margin-top:0;
    }
    .article__image{
      margin-bottom:0;
    }
    .article-social-icon p{
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 15px;
      color: #3C3B3C;
    }
    .article-social-icon ul li{
      margin-bottom:8px;
    }
    .aticle-comment-div{
      display:flex;
      justify-content:space-between;
      align-items: center;
      margin-top: 20px;
    }
    p.comments__mod-message {
      color: #5F5F5F;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
  }
    .comments__submit{
          margin-top: 0;
      background: #231F20;
      padding: 17px 24px 17px 30px !important;
      color: #fff !important;
      font-size: 16px !important;
      line-height: 20px !important;
    }
    .input-control label{
      display:none;
    }
    .input-control input.input, textarea.input{
      background: #F8F9FA;
      color:#6A6A6A;
      font-size: 14px;
      line-height: 22px;
    }
    .article__comments{
      width: 100%;
      margin: 0;
      margin-left: auto;
      padding-bottom:30px;
    }
    .comments__leave-heading{
      border:0;
    }

  @media (min-width: 992px) and (max-width: 1199px) {
    .article__meta {
      font-size: 15px;
      line-height: 25px;
    }
   .article__heading {
      font-size: 28px;
      line-height: 36px;
    }
    .article__block-inner h2 {
      font-size: 24px;
      line-height: 34px;
    }
    .article__block-inner h3 {
      font-size: 24px;
      line-height: 34px;
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
   .article__meta {
      font-size: 15px;
      line-height: 25px;
    }
   .article__heading {
      font-size: 28px;
      line-height: 36px;
    }
    .article__block-inner h2 {
      font-size: 24px;
      line-height: 34px;
    }
    .article__block-inner h3 {
      font-size: 24px;
      line-height: 34px;
    }
      .article-icon-content {
      flex-direction:column-reverse;
      margin: 0;
        padding-bottom:40px;

  }
    .article-social-icon {
      width: 100%;
          display: flex;
      align-items: center;
      padding:0 25px;
  }
     .article-social-icon p{
       margin:0;
     }
    .article-social-icon ul{
      display:flex;
          margin-left: 15px;
    }
     .article-social-icon ul li{
       margin-bottom:0;
       margin-right:8px;
     }
    .article-content-detail{
      width: 100%;
    }
    .article__comments{
      width:100%;
    }
    .comments__leave-heading {
      margin-top:0;
    }
    .comments__submit{
    padding:16px !important;
    }
  }

  @media (max-width: 767px) {
   .article__meta {
      font-size: 15px;
      line-height: 25px;
    }
   .article__heading {
      font-size: 20px;
      line-height: 30px;
    }
    .article__block-inner h2 {
      font-size: 18px;
      line-height: 28px;
    }
    .article__block-inner h3 {
      font-size: 18px;
      line-height: 28px;
    }
      .article-icon-content {
      flex-direction:column-reverse;
      margin: 0;
        padding-bottom:40px;

  }
    .article-social-icon {
      width: 100%;
          display: flex;
      align-items: center;
      padding:0 25px;
  }
     .article-social-icon p{
       margin:0;
     }
    .article-social-icon ul{
      display:flex;
          margin-left: 15px;
    }
     .article-social-icon ul li{
       margin-bottom:0;
       margin-right:8px;
     }
    .aticle-comment-div{
      display:block;
    }
    .article-content-detail{
      width: 100%;
    }
    .article__comments{
      width:100%;
    }
    .comments__leave-heading {
      margin-top:0;
    }
    .comments__submit{
    padding:16px !important;
          margin-top: 20px;
    }
  }
</style>

{% schema %}
{
  "name": "t:sections.main_article.name",
  "tag": "section",
  "settings": [
    {
      "type": "radio",
      "id": "content_width",
      "label": "t:shared.settings.section_style.content_width.label",
      "options": [
        { "value": "full", "label": "t:shared.settings.section_style.content_width.option_full" },
        { "value": "custom", "label": "t:shared.settings.section_style.content_width.option_custom" }
      ],
      "default": "custom"
    },
    {
      "type": "range",
      "id": "custom_content_width",
      "label": "t:shared.settings.section_style.custom_content_width.label",
      "unit": "px",
      "min": 400,
      "max": 1000,
      "step": 50,
      "default": 700
    },
    {
      "type": "header",
      "content": "t:shared.settings.section_style.header_style.content"
    },
    {
      "id": "enable_animation",
      "type": "checkbox",
      "label": "t:shared.settings.section_style.enable_animation.label",
      "info": "t:shared.settings.section_style.enable_animation.info",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "t:sections.main_article.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "id": "show_tags",
          "type": "checkbox",
          "label": "t:sections.main_article.blocks.title.settings.show_tags.label",
          "default": true
        },
        {
          "id": "show_author",
          "type": "checkbox",
          "label": "t:sections.main_article.blocks.title.settings.show_author.label",
          "default": true
        },
        {
          "id": "show_date",
          "type": "checkbox",
          "label": "t:sections.main_article.blocks.title.settings.show_date.label",
          "default": true
        }
      ]
    },
    {
      "type": "featured_image",
      "name": "t:sections.main_article.blocks.featured_image.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_full_width_image",
          "label": "t:sections.main_article.blocks.featured_image.settings.enable_full_width_image.label",
          "default": false
        },
        {
          "type": "radio",
          "id": "image_aspect",
          "label": "t:sections.main_article.blocks.featured_image.settings.image_aspect.label",
          "options": [
            { "value": "custom", "label": "t:sections.main_article.blocks.featured_image.settings.image_aspect.option_custom" },
            { "value": "original", "label": "t:sections.main_article.blocks.featured_image.settings.image_aspect.option_original" }
          ],
          "default": "custom"
        },
        {
          "type": "range",
          "id": "desktop_height",
          "label": "t:sections.main_article.blocks.featured_image.settings.height.label",
          "unit": "%",
          "min": 25,
          "max": 100,
          "step": 5,
          "default": 100
        },
        {
          "type": "range",
          "id": "mobile_height",
          "label": "t:sections.main_article.blocks.featured_image.settings.mobile_height.label",
          "unit": "%",
          "min": 25,
          "max": 100,
          "step": 5,
          "default": 100
        },
        {
          "id": "focal_point",
          "type": "select",
          "label": "t:shared.settings.focal_point.label",
          "options": [{"label":"t:shared.settings.focal_point.option_image","value":"image_presentation"},{"label":"t:shared.settings.focal_point.option_center","value":"center"},{"label":"t:shared.settings.focal_point.option_top","value":"top"},{"label":"t:shared.settings.focal_point.option_bottom","value":"bottom"},{"label":"t:shared.settings.focal_point.option_left","value":"left"},{"label":"t:shared.settings.focal_point.option_right","value":"right"}],
          "default": "image_presentation"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:sections.main_article.blocks.content.name",
      "limit": 1
    },
    {
      "type": "social_sharing",
      "name": "t:sections.main_article.blocks.social_sharing.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_text",
          "label": "t:sections.main_article.blocks.social_sharing.settings.share_text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main_article.blocks.social_sharing.settings.paragraph__preivew_image.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main_article.blocks.social_sharing.settings.paragraph__store_title.content"
        }
      ]
    },
    {
      "type": "pagination",
      "name": "t:sections.main_article.blocks.pagination.name",
      "limit": 1
    }
  ]
}
{% endschema %}
